.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

html, body, #root {
  height: 100%;
  margin: 0;
}

.app-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-content {
  flex: 1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.attendance-card {
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
}

/* Top section */
.card-top {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 14px;
  font-weight: 600;
}

/* Bottom section */
.card-bottom {
  background: #fff;
  padding: 12px 14px;
}

/* Number */
.value {
  font-size: 26px;
  font-weight: 700;
}

/* Icon */
.icon-circle {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

/* Light background versions (Bootstrap-like) */
.card-success {
  background: #CAE5D2 !important;
}

.card-danger {
  background: #FCE9F1 !important;
}

.card-warning {
  background: #FDE9BD !important;
}

.card-primary {
  background: #E1EAFD !important;
}

.attendance-card {
  text-align: right;
}

/* Base icon circle */
.icon-circle {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

/* Icon colors */
.icon-success,
.icon-danger,
.icon-warning,
.icon-primary {
  color: #ffffff;
  font-weight: 700;
}


/* Soft background for icon circle */
.icon-circle-success {
  background: #098945;
}

.icon-circle-danger {
  background: #F12453;
}

.icon-circle-warning {
  background: #F57E01;
}

.icon-circle-primary {
  background: #006BF6;
}

/* Month input wider */
.month-input {
  width: 190px;
}

/* Total hours card */
.total-hours-box {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 38px; /* same as input & buttons */
  padding: 0 14px;
  background: #fff;
  border: 1px solid #ced4da;
  border-radius: 6px;
  font-size: 14px;
  color: #495057;
  white-space: nowrap;
}

.total-hours-box i {
  font-size: 16px;
  color: #6c757d;
}

.total-hours-box strong {
  font-weight: 600;
}
